.tabs {
    .tab-list {
        border-bottom: 1px solid firebrick;
        padding-left: 0;
    }
    .tab-list-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 0.5rem 0.75rem;
    }
    .tab-list-active {
        border: solid #70b222;
        border-width: 3px 3px 0 1px;
        font: 20px bold;
    }
}