#sAdminHome {
    header {
        margin-top: 10px;
        h1 {
            font-size: 25px;
            text-align: center;
        }
    }
    .tabsStyling {
        font-family: "Lucida Sans Unicode"
    }
}